body {
    background: url("images/1152289.jpg") no-repeat center fixed;
	  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@font-face {
    font-family: "overwatch";
    src: url("fonts/bignoodletoo.ttf") format("truetype");
         url("fonts/bignoodletoo.woff") format("woff");
}

.has-error .help-block {
    color:#ff9c00;
}

.has-error .control-label{
    color: white;
}

.navbar-default .navbar-nav > li > a{
      font-family: "overwatch", sans-serif;
      padding: 20% , 25px;
      font-size: 23px;
      font-weight: 600;
      letter-spacing: .05em;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      box-sizing: border-box;
      line-height: 1.4;
      color: #fff;
      z-index: 1;
}

.navbar-default .navbar-nav > li > a:hover{
  color:#ff9c00;
}

.homeimg{
  max-height: 40px;
  max-width:200px;
  transform: translate(0%, 20%);
  position:absolute;
}

.homeimg:hover{
  opacity: 0.6;
}

.panel{
	border-bottom: 1px solid;
	border-bottom-color: #ccc;
	border-bottom-color: rgba(11,13,18, 0.95);
	background-color: rgba(11,13,18, 0.7);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	top: 20%;
	left: 50%;
  color: #fff;
	/* bring your own prefixes */
	transform: translate(0%, 50%);
}

.panel a{
  color: #ff9c00;
}

.btn{
  border: none;
  border-radius: 2px;
  border: 3px solid transparent;
      border-top-width: 3px;
      border-right-width: 3px;
      border-bottom-width: 3px;
      border-left-width: 3px;
  font-family: "overwatch",century gothic,arial,sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: .07em;
  text-shadow: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
    transition: all .2s;
  background-color: #ff9c00;
  color: #fefefe;
  margin-top:7px;
}

.panel > .panel-heading {
	background: rgba(255,156,0,0.8);
  color: #fefefe;
}

.video-container{
  margin-left:50px;
  margin-right:50px;
}

.navbar{
  left: 0;
  right: 0;
  height: 50px;
  transition: all .1s,background-color .3s;
  z-index: 97;
  background-color: rgb(11,13,18, 0.95);
  border:none;
}

.dropdown-menu, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #ff9c00;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #fff;
    background-color: #ff9c00;
    text-decoration: none;
}


